@{  
}
<a href="~/Default" class="top">Your Site</a>
    <ul>
    <li><a href="~/rcAdmin/Default" id="default">Dashboard</a></li>
    <li><a href="~/rcAdmin/AllPages" id="allpages">Pages</a></li>
    <li><a href="~/rcAdmin/AllWidgets" id="allwidgets">Widgets</a></li>
    <li><a href="~/rcAdmin/SimpleMenu" id="simplemenu">Simple Menu</a></li>   
    <li><a href="~/rcAdmin/Editor" id="editor">File Editor</a></li>
    <li><a href="~/rcAdmin/SiteSettings" id="sitesettings">Site Settings</a></li>
    <li><a href="~/rcAdmin/ChangePassword" id="changepassword">Change Password</a></li>
    </ul>
     <script type="text/javascript">
             var pageName = window.location.pathname.substring(window.location.pathname.lastIndexOf("/") + 1, window.location.pathname.lenght).toLowerCase();
             if (pageName.match("^editpage") || pageName.match("^newpage") || pageName.match("^widgetsinsection")) {
                 $('#allpages').toggleClass('selected');

             } else if (pageName.match("^editwidget")) {
                 $('#allwidgets').toggleClass('selected');

             } else if (pageName=="") {
                 $('#default').toggleClass('selected');

             }
             $('#' + pageName).toggleClass('selected');
    </script>